body{
    /*Fondo provisional para el estilo oscuro. Se debe buscar o crear un fondo de animales*/
    background: url("../img/fondoPerro.jpg")repeat;
}
#espacioPagina{
    background-color: rgb(109, 108, 116);
}
#imagenOscuro{
    background: url("../img/gatoOscuro.jpg");
}
#sidebar h4 span {
    background:rgb(109, 108, 116);
    padding: 5px;
    color: white;
}
#entrar, #enviar{
    color: white;
    background-color: #466140;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px #333;
    cursor: pointer;
    padding: 10px;
}
/*Estilo informacion.html*/
.h4{
    color:#6cc98f;
    /*#83e0a6*/
}
#posts >p, ul, li{
    color: rgb(193, 200, 206);
}