body{
    /*Fondo provisional para el estilo claro. Se debe buscar o crear un fondo de animales*/
    background: url("../img/fondoPez.jpg")repeat;
}

#sidebar h4 span {
    background: white;
    padding: 5px;
}
#entrar, #enviar{
    border-radius: 10px;
    box-shadow: 0 2px #333;
}
/*Estilos Informacion.html*/
.h4{
    color: #466140;
    
}