* {
    margin: 0px;
    padding: 0px;
}

/*Deseo englobar el contenido con un borde*/
.clearfix {
    float: none;
    clear: both;
}

#espacioPagina {
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 25px;
    background: white;
    box-shadow: 0px 0px 2px gray;
}

#logo {
    font-family: Verdana, Arial;
    font-size: 28px;
    letter-spacing: 4px;
    line-height: 75px;
    color: white; 
    text-transform: uppercase;
text-align: center;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    background-color: #87946c;
}
#logo > img{
    border-radius: 25%;
    margin-left: 15px;

}
#logo >h1{
    margin:auto;
}


#menu {
    display: flex;
    font-family: Helvetica, Arial;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 10px;align-items: center;
    justify-content: center;
  
}
.menuListado{
    width: 84%;
    margin-top: 12px;
}

#menu ul {
    line-height: 46px;
    list-style: none;
}
#menu ul > li:hover {
    background-color:#466140;
    
}
.bandera:hover{
    width: 45px;
    height: 30px;
    border-radius: 20%;
}


#menu ul li {
    height: 46px;
    display: -webkit-inline-flex;
    transition: all 300ms;
}
.banderas{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 10%;
}
.bandera{
    width: 50px;
    height: 33px;
    
}
.bandera >div img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    cursor: pointer;
}

#menu a {
    
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

#posts {
    width: 60%;
    float: left;
    font-family: Helvetica, Arial;
}

.post {
    padding: 7px;
}

h2 {
    font-family: Helvetica, Arial;
    font-size: 30px;
    color: #333;
}

.post,
.date {
    display: block;
    color: gray;
    margin-top: 5px;
}

.post,
p {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: justify;
}

#sidebar {
    font-family: Helvetica, Arial;
    width: 31%;
    float: right;
}

#sidebar h4 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
    background: url("../img/fondo.jpg") repeat-x;
}

#sidebar img {
    width: 100%;
}

#sidebar p {
    font-size: 15px;
    text-align: justify;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
fieldset,
select {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 5px;
    
}
#login{
    text-align: left;
    max-width: 263px;
 }
#otrosIntereses {
    visibility: hidden;
}

footer {
    font-family: Helvetica, Arial;
    color: white;
    height: 47px;
    background: rgba(51, 51, 51, 0.70);
    margin: 0px auto;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    line-height: 47px;
}

.bx-wrapper,
.bx-viewport {
    height: 250px !important;
}

#selector-estilo {
    position: fixed;
    top: 40%;
    background: #01040f;
    width: 50px;
    height: 70px;
    border-radius: 50%;
    margin-left: 1.5rem;
}

#claro,
#oscuro {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 100%;
}

#claro {
    background: white;
   
   
}
#claro:hover{
    width: 30px;
    height: 30px;
}

#oscuro {
    background: gray;  
}
#oscuro:hover{
    width: 30px;
    height: 30px;
}
.subir  {
    color: white;
    text-decoration: none;
    display: block;
    float: right;
}
/*Estilos contacto.html*/

#posts, #login{
    margin-top: 10px;
    margin-bottom: 250px;
    line-height: 22px;
       
}
#posts >h1, #imgForm{
        text-align: center;
    }
#form{
   
    align-items: center;
    margin-left: 2rem;
}
#enviar{
    width: 10rem;
    margin: auto;
    transition: 0.6s;
}

#enviar:hover{
    width: 100%;
    transition: 0.5s;
}

#entrar {
	-webkit-animation: rotate-scale-up 0.7s linear ;
	        animation: rotate-scale-up 0.7s linear ;
}

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  
  /*Galeria de imagenes de animales*/

  #columnaFoto img{
    width: 100%;
    height: 150px;
  }
  #columnaFoto img:hover {
  border: 4px solid white;
  }
  #columnaFoto .col-lg-4{
    padding: 25px;
  }

  /*Redes Sociales*/
  div.social-btn {
      display: block;
      width: 400px;
      margin: 0 auto;
      text-align: center;
  }
  div.social-btn a {
      text-decoration: none;
  }
  div.social-btn div {
      width: 130px;
      display: inline-block;
      float: left;
      height: 120px;
      line-height: 120px;
      color: #fff;
      margin-right: 3px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      font-size: 20px;
      text-shadow:0px 0px 5px #000;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      margin-bottom: 50px;
  }
  div.social-btn a:last-child div {
      margin-right: 0;
  }
  div.social-btn div:hover, div.social-btn div:active {
      height: 135px;
      padding-top: 15px;
  }
  i {
      -moz-transition: all 0.4s ease-out;
      -webkit-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
  }

  div.social-btn div:hover i  {
      opacity: 0;
  }
  div.social-btn div:hover span {
      opacity: 1;
  }
  div.face {
      background: #3A5795;
      -moz-box-shadow: 0px 4px 0px #1e469d;
      -webkit-box-shadow: 0px 4px 0px #1e469d;
      box-shadow: 0px 4px 0px #3e6d8d;
      position: relative;
  }

  div.twi {
      background: #5EA9DD;
      -moz-box-shadow: 0px 4px 0px #186ba4;
      -webkit-box-shadow: 0px 4px 0px #186ba4;
      box-shadow: 0px 4px 0px #2b95df;
      position: relative;
  }

